{{ define "main" }}
<h1 class="listHeader">Latest Posts</h1>
<div class="list">
    {{ range .Paginator.Pages }}
    <div class="listItem">
        <a href={{ .Permalink }}><img src={{ .Params.image }} alt={{.Title}} class="listItemImg" loading="lazy"></a>
        <div class="listItemTxt">
            <h1><a href={{ .Permalink }}>{{ .Title }}</a></h1>
                <p class="listItemDesc">{{.Params.desc}}</p>
                <div class="listItemDetails">
                    <time>{{ dateFormat .Site.Params.dateFormat .Date}}</time>
                </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}